.window{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex: 1;
}
.grid{
    border: 1px solid black;
    width: 33%;
}

.col{
    display:flex;
    flex-direction: column;
}

.blue{
    background-color: blue;
}